body > header,
[class*='layoutWrapper__'] > header,
footer,
#content-debug {
  filter: hue-rotate(var(--angle));
}

header img,
footer img,
.nav-icon-jeuxvideo,
.nav-icon-com,
header .icon-com,
.social-network,
.jv-nav-dropdown-avatar,
.account-avatar-box,
#content-debug .debug-navtab,
#content-debug .debug-info,
header [class*='avatarImage__'],
header [class*='avatar__'],
header [class*='linkLogo__'],
footer [class*='facebook__'],
footer [class*='twitter__'],
footer [class*='google__'],
footer [class*='youtube__'],
footer [class*='rss__'],
footer [class*='logo__'],
header .live-indicator,
.video-footer-container {
  filter: hue-rotate(var(--negative-angle));
}

/* Fix box model, broken with filter. */
.jv-nav-dropdown-container-content,
.jv-nav-dropdown-container-bottom {
  position: static !important;
}

.jv-nav-dropdown-item {
  background-color: white;
}

.jv-nav-dropdown-item:nth-of-type(1n + 6) {
  display: none;
}
